body, .body {
  margin: 12px;
  background-color: rgb(28, 41, 0);
}

pre.wipnotice {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: yellow;
}

div.main-area {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
place-items: center;
text-align: center;
  /* make the yeucc button invisible except for the image */
   button.yeucc {
      background-color: transparent;
      border: none;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      outline: none;
    }
}

div.shop {
  background-color:indigo ;
  border: solid;
  width: fit-content;
  padding: 21px;
  border-radius: 11px;

  button.multiplierbuyer {
    margin-top: 10px;
    background-color: greenyellow;
  
  }

  button.multiplierbuyer:hover {
    background-color: lime;
  }

  button.multiplierbuyer:active {
    background-color: lightgreen;
  }
}

div.leaderboard {
  text-align: right;

}

div.funny-radio {
  position: absolute;
  border: round;
  border-radius: 11px;
  padding: 50px;
  background-color: black;
  color: azure;
  font-family: 'Google Sans Code', sans-serif;
  box-align: right;
}

div.credits {
  position: absolute;
  bottom: 1%;
  left: 1%;

  
  span.owner-text {
    font-family: 'Google Sans Code', sans-serif;
  }
  span.yeuc_c-credits-text {
    font-family: 'Courier New', Courier, monospace;
  }
}

pre.version {
  position: absolute;
  top: 95%;
  left: 85%;
}